/* Import TailwindCSS */
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  font-family: "VT323", monospace; 
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  height: 100vh; 
  overflow: hidden; 
}

body {
  background: var(--background);
  color: var(--foreground);
}

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* MENU DROPDOWN */

.planet-dropdown-container {
  position: absolute; 
  top: 4px; 
  left: 4px; 
  z-index: 10;
  display: inline-block;
}

.planet-dropdown-button {
  background-color: #000000;
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid #333333;
  border-radius: 4px;
  font-size: 16px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: all 0.3s ease, transform 0.3s ease;
  width: 150px;
  text-align: center
}

.planet-dropdown-button:hover {
  text-shadow: 0 0 15px rgba(0, 183, 255, 1),
    0 0 30px rgba(0, 183, 255, 0.8);
  border-color: #00b7ff;
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(0, 183, 255, 0.7);
  
}

.planet-dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #1a1a1a;
  border: 1px solid #333333;
  border-radius: 4px;
  list-style: none;
  padding: 0;
  margin: 0;
  width: auto;
  z-index: 20;
  width: 150px; 
  text-align: center;
}

.planet-dropdown-list li {
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: normal; 
}

.planet-dropdown-list li:hover {
  text-shadow: 0 0 20px rgba(0, 183, 255, 1),
               0 0 40px rgba(0, 183, 255, 0.9),
               0 0 60px rgba(0, 183, 255, 0.8);
  background-color: rgba(0, 183, 255, 0.2);
  font-weight: bold;
}

/* CANVAS FULL SCREEN */
.w-full.h-screen {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* Estilos para el slider de zoom */
.zoom-slider {
  writing-mode: bt-lr;
  height: 8rem; /* Ajustado a tu preferencia */
  width: 1.5rem;
  background: linear-gradient(to top, #210227, #ee10c5); /* Gradiente azul oscuro */
  border-radius: 1rem;
  transform: rotate(180deg);
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Estilo del thumb */
.zoom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.8rem;
  height: 1.8rem;
  background: linear-gradient(to top, #746776, #ee10c5);;
  border: 2px solid #000000; 
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

.zoom-slider::-moz-range-thumb {
  width: 1.8rem;
  height: 1.8rem;
  background: #ffffff; 
  border: 2px solid #1e40af;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(194, 0, 0, 0.8);
  transition: transform 0.2s ease;
}


